@font-face{
	font-family: 'FuturaHandwritten';
	font-style: normal;
	src: url('FuturaHandwritten.ttf') format('truetype');
}

body{
	margin:0;
	overflow: hidden;

	background: #fff; /*url('paper@2x.png');
	background-size: 100px 100px;*/
}
#main{
	width: 100%;
	height: calc(100% - 60px);
	position: relative;
	overflow: hidden;
}
#footer{
	width: 100%;
	height: 60px;
	background: #222;
}

/*************************/
/******* SLIDESHOW *******/
/*************************/

#slideshow{
	/*background: #bada55;*/
	/*border: 1px solid rgba(0,0,0,0.2);*/
	width:960px;
	height:540px;

	/* Center this thing */
	position: absolute;
	margin: auto;
	top:0; left:0; right:0; bottom:0;

	/* Font */
	font-family: 'FuturaHandwritten';

}
#slideshow .object{
	position: absolute;
}

.fader{
	-webkit-transition: opacity 0.3s ease-in-out;
	-mos-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

/*************************/
/***** SLIDE SELECT ******/
/*************************/

#select{
	width:100%;
	text-align: center;
    padding-top: 15px;
}
#select .dot{
	width: 30px;
	height: 30px;
	border-radius: 40px;
	border: 1px solid #fff;
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}
#select .dot[selected]{
	background: #fff;
}