@font-face{
	font-family: 'FuturaHandwritten';
	font-style: normal;
	src: url('FuturaHandwritten.ttf') format('truetype');
}

body{
	
	margin:0;
	overflow: hidden;

	background: #fff; /*url('paper@2x.png');
	background-size: 100px 100px;*/

	font-family: 'FuturaHandwritten';
	color: #333;
	font-size: 20px;

}
#main{
	width: 100%;
	height: calc(100% - 60px);
	position: relative;
	overflow: hidden;
}
#footer{
	width: 100%;
	height: 60px;
	background: #222;
}

/*************************/
/******* SLIDESHOW *******/
/*************************/

#slideshow{
	
	/*background: #bada55;*/
	border: 1px solid rgba(0,0,0,0.2);
	width:960px;
	height:540px;

	/* Center this thing */
	position: absolute;
	margin: auto;
	top:0; left:0; right:0; bottom:0;

}
#slideshow .object{
	position: absolute;
}

/********* Fader *********/

.fader{
	-webkit-transition: opacity 0.3s ease-in-out;
	-mos-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

/******** Text Box ********/

.textbox{}
.textbox > div{
	position: absolute;
}

.label{
	position: absolute;
}

/********* Button ********/

.button{
	z-index: 0;
}
.button #background{
	position: absolute;
	background: url(../assets/button.png);
	width:250px; height:125px;
	background-size: 100%;
	top:-35px; left:-30px;
	pointer-events:none;
}
.button #text{
	
	font-family: 'FuturaHandwritten';
	color: #000;
	font-size: 17px;

	width: 180px;
	height: 30px;
	text-align: center;

	position: absolute;
	top:18px; left:5px;

}
.button #hitbox{
	position: absolute;
	width:195px; height:55px;
	cursor: pointer;
}
.button[hover=yes]{
	z-index: 100;
}
.button[hover=yes] #background{
	background-position: 0px -125px;
}
.button[deactivated=yes] #background{
	background-position: 0px -250px;
}
.button[deactivated=yes] #text{
	color: #CCCCCC;
}
.button[deactivated=yes] #hitbox{
	display: none;
}


/*************************/
/****** SANDBOX UI *******/
/*************************/

#sandbox_tabs{
	position: absolute;
	left: 460px; top:-10px;
	background: url(../assets/sandbox_tabs.png);
	width:500px; height:470px;
	background-size: auto 100%;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none; 
	cursor: default;
}
#sandbox_tabs > div{
	position: absolute;
}
#sandbox_tabs .hitbox{
	cursor: pointer;
	font-size: 25px;
	top: 22px;
}
#sandbox_tabs .sandbox_page{
	width: 433px;
	height: 385px;
	left: 33px;
	top: 80px;
}
.incdec{
	width: 0; height: 0;
	position: absolute;
}
.incdec > div{
	position: absolute;
}
.incdec > .incdec_num{
	width:50px; height:50px;
	font-size: 25px;
	text-align: center;
    top: -16px;
    left: -25px;
    cursor: default;
}
.incdec > .incdec_control{
	left:-10px;
	width:20px; height:20px;
	background: url(../assets/sandbox_incdec.png);
	background-size: auto 100%;
	cursor: pointer;
}
.incdec > .incdec_control[arrow=up]{ top:-35px; background-position:0px 0px; }
.incdec > .incdec_control[arrow=up]:hover{ background-position:-20px 0px; }
.incdec > .incdec_control[arrow=down]{ bottom:-35px; background-position:-40px 0px; }
.incdec > .incdec_control[arrow=down]:hover{ background-position:-60px 0px; }


/*************************/
/***** SLIDE SELECT ******/
/*************************/

#select{
	width:100%;
	text-align: center;
    padding-top: 15px;
}
#select .dot{
	width: 30px;
	height: 30px;
	border-radius: 40px;
	border: 1px solid #fff;
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}
#select .dot[selected]{
	background: #fff;
}